<p id="notice"><%= notice %></p>

<p>
  <strong>Nome razao social:</strong>
  <%= @pessoa.nome_razao_social %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @pessoa.cnpj %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @pessoa.cpf %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pessoa.email %>
</p>

<p>
  <strong>Site:</strong>
  <%= @pessoa.site %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @pessoa.endereco %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @pessoa.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @pessoa.bairro %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @pessoa.municipio %>
</p>

<p>
  <strong>Uf:</strong>
  <%= @pessoa.uf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @pessoa.cep %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @pessoa.telefone %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @pessoa.celular %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
